In [1]:
%run -m ipy_startup
%run -m ipy_logging
%matplotlib inline
from musc_genomics.data_import import cosmic, api, prep
from musc_genomics import data
pd.set_option('max_info_rows', int(1E9))

In [4]:
d_rx = cosmic.get_cosmic_rel6_data('Screened_Compounds.xlsx')
d_rx = d_rx['Export Worksheet']
d_rx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 5 columns):
DRUG ID           265 non-null int64
DRUG NAME         265 non-null object
SYNONYMS          149 non-null object
TARGET            264 non-null object
TARGET PATHWAY    265 non-null object
dtypes: int64(1), object(4)
memory usage: 10.4+ KB

In [12]:
d_rx = cosmic.get_cosmic_rel6_data('v17_fitted_dose_response.xlsx')
d_rx = d_rx['Export Worksheet']
d_rx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224510 entries, 0 to 224509
Data columns (total 8 columns):
DATASET_VERSION        224510 non-null int64
IC50_RESULTS_ID        224510 non-null int64
COSMIC_ID              224510 non-null int64
DRUG_ID                224510 non-null int64
MAX_CONC_MICROMOLAR    224510 non-null float64
LN_IC50                224510 non-null float64
AUC                    224510 non-null float64
RMSE                   224510 non-null float64
dtypes: float64(4), int64(4)
memory usage: 13.7 MB

In [13]:
d_rx.head()

,DATASET_VERSION,IC50_RESULTS_ID,COSMIC_ID,DRUG_ID,MAX_CONC_MICROMOLAR,LN_IC50,AUC,RMSE
0,17,335,924100,1026,1.0,0.717722,0.899410,0.105665
1,17,336,924100,1028,2.0,2.664100,0.957206,0.178243
2,17,337,924100,1029,2.0,3.336828,0.973893,0.079845
3,17,338,924100,1030,10.0,5.164909,0.977844,0.094228
4,17,339,924100,1031,0.2,-4.325309,0.508180,0.090478

In [5]:
d_ge = cosmic.get_cosmic_rel6_data('Gene_level_CN.xlsx')
d_ge.keys()

dict_keys(['Gene_level_CN', 'Legend', 'Readme'])

In [8]:
d_ge['Gene_level_CN'].head()

,gene,chr,start,stop,201T,22RV1,23132-87,42-MG-BA,451Lu,5637,...,WSU-NHL,YAPC,YH-13,YKG-1,YMB-1-E,YT,ZR-75-30,huH-1,no-10,no-11
0,NaN,NaN,NaN,NaN,1287381,924100,910924,687561,1287706,687452,...,909785,909904,909905,687592,1303911,946358,909907,1298146,908452,908450
1,DDX11L1,1,11869.0,14412.0,"-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-",...,"-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-"
2,WASH7P,1,14363.0,29806.0,"-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-",...,"-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-"
3,FAM138A,1,34554.0,36081.0,"-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-",...,"-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-","-1,-1,-,-"
4,OR4G11P,1,62948.0,63887.0,"5,5,L,-","2,2,H,-","2,2,H,-","5,5,H,-","4,4,H,-","3,3,H,-",...,"2,2,L,-","4,4,H,-","2,2,H,-","3,3,H,-","2,2,H,-","5,5,L,-","2,2,L,-","2,2,L,-","3,3,H,-","3,3,L,-"

In [10]:
d_ge['Readme']

Empty DataFrame
Columns: []
Index: []